@font-face {
    font-family: 'Florante';
    src: url('font/FLORLRG_.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: dimgray;
    padding: 0;
    margin: 0;
    width: 100%;
}

.topbar {
    width: 100%;
    height: 50px;
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.topbar2 {
    width: 100%;
    height: 200px;
    background-color: #383a3b;
    margin: 0px;
    padding: 0px;
}
.topbar3 {
    width: 100%;
    height: 50px;
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.LynfallLogo{
    width: 280px;
    height: 180px;
    padding: 10px;
    border-radius: 500px;

}
.logooutline{
    width: 300px;
    height: 200px;
    float: left;
    background-color: black;

}
.LynfallText{

    font-family: "Florante", sans-serif;
    font-size: 120px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 0;

}
.textbox{
    width: 100%;
    height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.odstavec1{
    display: block;
    width: 50%;
    font-family: "Florante", sans-serif;
    text-align: center;
    background-color: #383a3b;
    border-radius: 10px;
    margin: 0;
    margin-left: 25%;
    margin-right: 25%;

}
.Sneaks{
    background-color: #383a3b;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 25px;
}
.Sneakstext {
    font-family: "Florante", sans-serif;
    text-align: center;
    font-size: 80px;
    margin: 0;
}
.sneaksbg{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 35px;
}
.picbg{
    background: gray;
    border-radius: 15px;
    width: 50%;
    height: 500px;
    margin: 50px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px;
    justify-content: center;
}

